root = true

[*.{c,cpp,h,hpp}]
indent_style             = space
indent_size              = 4
tab_width                = 4         
end_of_line              = lf    # Para Unix
charset                  = utf-8
insert_final_newline     = true  # Inserta una linea al final del archivo 
trim_trailing_whitespace = true  # Elimina espacios al final de cada linea
#max_line_length          = 80   # Limite de caracteres por linea

[*.sql]
indent_style             = space
indent_size              = 2
tab_width                = 2
end_of_line              = lf
charset                  = utf-8
insert_final_newline     = true
trim_trailing_whitespace = true

[*.sh]
indent_style             = space 
indent_size              = 2
tab_width                = 2
end_of_line              = lf
insert_final_newline     = true
trim_trailing_whitespace = true

[*.{s,asm}]
indent_style             = space
indent_size              = 4
tab_width                = 4         
end_of_line              = lf    # Para Unix
charset                  = utf-8
insert_final_newline     = true  # Inserta una linea al final del archivo 
trim_trailing_whitespace = true  # Elimina espacios al final de cada linea
#max_line_length          = 80   # Limite de caracteres por linea
