[user]
    name = gmorales08
    email = 888.gmd@gmail.com
    mail = 888.gmd@gmail.com
[init]
    defaultBranch = main
[credential]
	# Cachea los token de github
    helper = cache
[core]
    # Ignora los cambios de permisos. En algunos sistemas de ficheros git pone
    # esta opcion a true en cada repo, por lo que habria que cambiarla en
    # .git/config local
	filemode = false
    editor = vim
[alias]
    log-nice = "log --pretty=format:\"%C(auto)%h - %an - %ar \
            %n%s%C(reset)\" --shortstat"
    log-branch = "log --oneline --decorate --all --graph"

[merge]
    # Utiliza el programa diff3 para hacer diff en merges y mostrar tambien
    # el ancestro comun ademas de las dos versiones a mergear
    conflictstyle = diff3
