[user]
    name = gmorales08
    email = 888.gmd@gmail.com
    mail = 888.gmd@gmail.com
[init]
    defaultBranch = main
[credential]
	# Cachea los token de github
    helper = cache
[core]
	# Ignora los cambios de permisos
	fileMode = false
    editor = vim
[alias]
    log-nice = "log --pretty=format:\"%C(auto)%h - %an - %ar \
            %n%s%C(reset)\" --shortstat"
    log-branch = "log --oneline --decorate --all --graph"
